.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    align-items: center;
    margin: 0;
}
.nav-item:not(:first-child) {
    margin-left: 15px;
}
.nav-item {
    position: relative;
    padding: 20px 0;
}
.nav-link-drop::after {
    content: "";
    width: 10px;
    height: 10px;
    background-image: url("../img/download.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 5px;
    transition: .3s;
}
.nav-list-dropdown {
    position: absolute;
    background-color: #fff;
    left: -30px;
    top: 100%;
    padding: 30px;
    display: block;
    box-shadow: 0 5px 15px 0 rgba(23, 129, 223, .2);
    transition: all .3s;
    opacity: 0;
    visibility: hidden;
}
.mobile-back {
    display: none;
}
.dropdown-list-item {
    margin-bottom: 10px;
}
.burger {
    width: 40px;
    height: 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    position: relative;
    display: none;
}
.burger::before,
.burger::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
}
.burger::after {
    top: auto;
    bottom: 0;
}
.burger span {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    display: inline-block;
    background-color: #000;
}
.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.5);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
}
.icon i {
    width: 22px;
    padding: 20px 0;
    margin: 0 20px;
    color: #878B90;
}
.icon i:hover {
    transition: .3s;
    color: #1781df;
}